<!doctype html>
<html>
    <head>
        <title>JS debug</title>
    </head>
    <body>
        <script type="text/js-template" id="debug">
            <div id="<%=id%>" class="<%=(i % 2 == 1 ? " even" : "")%>">
                <div class="grid_1 alpha right">
                    <img class="righted" src="<%=profile_image_url%>"/>
                </div>
                <div class="grid_6 omega contents">
                    <p><b><a href="/<%=from_user%>"><%=from_user%></a>:</b> <%=text%></p>
                </div>
            </div>
            <% for ( var i = 0; i < users.length; i++ ) { %>
               <li><a href="<%=users[i].url%>"><%=users[i].name%></a></li>
            <% } %>
        </script>
        <script type="text/javascript">
        var tmpl = document.querySelector('#debug'),
            tmp = tmpl.innerHTML;
        
        console.log('start');
        console.log(tmp);

        console.log('step 1');
        tmp = tmp.replace(/[\r\t\n]/g, " ");
        console.log(tmp);

        console.log('step 2');
        tmp = tmp.split("<%").join("\t");
        console.log(tmp);

        console.log('step 3'); // get rid of a single quote that appears in the html??
        tmp = tmp.replace(/((^|%>)[^\t]*)'/g, "$1\r");
        console.log(tmp);

        console.log('step 4'); // replace vars
        tmp = tmp.replace(/\t=(.*?)%>/g, "',$1,'");
        console.log(tmp);

        console.log('step 5');
        tmp = tmp.split("\t").join("');");
        console.log(tmp);

        console.log('step 6');
        tmp = tmp.split("%>").join("p.push('");
        console.log(tmp);

        console.log('step 7');
        tmp = tmp.split("\r").join("\\'");
        console.log(tmp);
        
        var p = [];
        p.push('<div id="',id,'" class="',(i % 2 == 1 ? " even" : ""),'"> <div class="grid_1 alpha right"> <img class="righted" src="',profile_image_url,'"/> </div> <div class="grid_6 omega contents"> <p><b><a href="/',from_user,'">',from_user,'</a>:</b> ',text,'</p> </div> </div> ');
        for ( var i = 0; i < users.length; i++ ) {
            p.push(' <li><a href="',users[i].url,'">',users[i].name,'</a></li> '); 
        } 
        p.push('');
        </script>
    </body>
</html>
<!--  
.replace(/[\r\t\n]/g, " ")
.split("<%").join("\t")
.replace(/((^|%>)[^\t]*)'/g, "$1\r")
.replace(/\t=(.*?)%>/g, "',$1,'")
.split("\t").join("');")
.split("%>").join("p.push('")
.split("\r").join("\\'")
-->
    </body>
</html>
